In [2]:
import pandas as pd
import numpy as np

In [5]:
long_series = pd.Series(np.random.randn(1000))
long_series.head()

0   -0.040654
1    0.529932
2    0.463331
3    1.383014
4    1.240113
dtype: float64

In [6]:
long_series.tail()

995    0.549928
996    0.773920
997   -1.822269
998   -0.399055
999    0.176995
dtype: float64

# Matching / broadcasting behavioR

In [538]:
df = pd.DataFrame({ 'one' : pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
                    'two' : pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
                    'three' : pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})
df

,one,two,three
a,-0.605965,-1.233396,NaN
b,-0.939827,-0.582786,-0.852634
c,0.703790,-0.364043,-0.186954
d,NaN,1.340973,-0.398076

In [540]:
row = df.iloc[1]
row

one     -0.939827
two     -0.582786
three   -0.852634
Name: b, dtype: float64

In [541]:
column = df['two']
column

a   -1.233396
b   -0.582786
c   -0.364043
d    1.340973
Name: two, dtype: float64