## **Series**

In [10]:
import pandas as pd
import numpy as np

Series is a one-dimensional labeled array 
The axis labels are collectively referred to as the index. 

data can be many different things:

> a Python dict
> an ndarray
> a scalar value (like 5)

In [12]:
s = pd.Series(data, index=index)

NameError: name 'data' is not defined

## ndarray 
If data is an ndarray, index must be the same length as data.

In [21]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a    0.282697
b   -2.029828
c    1.701354
d    0.605210
e    0.063730
dtype: float64

In [22]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

 If no index is passed, one will be created

In [26]:
x = pd.Series(np.random.randn(5))

In [25]:
x.index

RangeIndex(start=0, stop=5, step=1)

# dictionary
if data is **_dict_**, Series can be instantiated from dicts:

In [64]:
a = {'a' : 1, 'b' : 3, 'c' : 5}
pd.Series(a)

a    1
b    3
c    5
dtype: int64

In [76]:
b = ['1','3','5']
pd.Series(b)

0    1
1    3
2    5
dtype: object

In [86]:
c = {'a' : 0., 'b' : 1., 'c' : 2.}
pd.Series(c)

a    0.0
b    1.0
c    2.0
dtype: float64

In [87]:
pd.Series(c, index=['b', 'c', 'd', 'a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

## Scalar Value
If data is a **_scalar value_**, an index must be provided. The value will be repeated to match the length of index.

In [80]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

## **Series is ndarray-like**

In [96]:
s1 = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s1

a    0.970188
b    0.953708
c   -0.046539
d   -1.531616
e   -1.176724
dtype: float64

In [97]:
s1[0]

0.9701879247213444

In [98]:
s1[:3]

a    0.970188
b    0.953708
c   -0.046539
dtype: float64

In [99]:
s[s > s.median()]

c    1.701354
d    0.605210
dtype: float64

In [100]:
s[[4, 3, 1]]

e    0.063730
d    0.605210
b   -2.029828
dtype: float64

In [101]:
np.exp(s)

a    1.326703
b    0.131358
c    5.481363
d    1.831636
e    1.065805
dtype: float64

## **Series is dict-like**

In [105]:
s1['a']

0.9701879247213444

In [109]:
s1['e'] = 12.
s1

a     0.970188
b     0.953708
c    -0.046539
d    -1.531616
e    12.000000
dtype: float64

In [110]:
'e' in s

True

In [111]:
'f' in s

False

In [113]:
 s.get('a')

0.28269711051440777

In [116]:
 s.get('f')

In [119]:
 s.get('f', 'No Result')

'No Result'

In [120]:
 s.get('f', np.nan)

nan

## **Vectorized operations and label alignment with Series**

In [127]:
s1 + s1

a     1.940376
b     1.907416
c    -0.093077
d    -3.063231
e    24.000000
dtype: float64

In [128]:
s1 * 2

a     1.940376
b     1.907416
c    -0.093077
d    -3.063231
e    24.000000
dtype: float64

In [132]:
np.exp(s1)

a         2.638440
b         2.595315
c         0.954528
d         0.216186
e    162754.791419
dtype: float64

In [130]:
np.exp(s1['e'])

162754.79141900392

In [134]:
np.exp(s1[4])

162754.79141900392

In [135]:
s1[1:]

b     0.953708
c    -0.046539
d    -1.531616
e    12.000000
dtype: float64

In [137]:
s1[:-1]

a    0.970188
b    0.953708
c   -0.046539
d   -1.531616
dtype: float64

In [138]:
s1[1:] + s1[:-1]

a         NaN
b    1.907416
c   -0.093077
d   -3.063231
e         NaN
dtype: float64

## **_Series Name attribute_**

In [142]:
s2 = pd.Series(np.random.randn(5), name='something')
s2

0    0.031888
1    0.142120
2    0.306974
3   -1.502705
4    1.686780
Name: something, dtype: float64

In [143]:
s2.name

'something'

In [146]:
s2 = s.rename("different")
s2.name

'different'